@tailwind base;
@tailwind components;
@tailwind utilities;
.aspect-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9の比率 (9 ÷ 16 × 100) */
    overflow: hidden;
    border-radius: 0.5rem; /* 角丸 */
}

.aspect-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像が枠を覆う */
}
